.create-recipe__form {
  margin-top: 20px;
  margin-bottom: 40px;
}

.input-wrapper {
  position: relative;
}

.recipe-form__minus-sign,
.recipe-form__minus-sign:hover,
.recipe-form__minus-sign:active {
  background: transparent;
  border: none;
  color: var(--foodieq-blue);
}
