.menus__nav-item {
  display: flex;
  padding: 10px 0;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.menus__nav {
  flex-direction: column;
  width: 100%;
}

.menus__nav-image {
  width: 40px;
}

.menus__text-container {
  align-items: center;
}

.menus__text {
  color: white !important;
  text-align: left;
  margin: 0;
}
