/* CONTAINERS  */
.side-panel {
  position: absolute;
  background-color: var(--foodieq-mint);
  height: 100%;
  width: 280px;
  top: 0;
  left: -280px;
  z-index: 100;
}

.side-panel__nav {
  justify-content: space-around;
  width: 100%;
  background-color: var(--foodieq-drk-mint);
}

.side-panel__user-container {
  background-color: var(--foodieq-mint);
  padding: 14px 0;
}

.side-panel__user-icon-container {
  display: flex;
  align-self: flex-start;
}


/* NAVIGATION STYLES */

.side-panel__nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 10px 0;
  transition: background-color .5s ease-in-out;
}

.side-panel__nav-item a {
  color: white;
}

.side-panel__nav-item:hover,
.side-panel__nav-item:active,
.side-panel__nav-item:focus {
  background-color: var(--foodieq-drker-mint);
}

.side-panel__email {
  display: flex;
  align-self: center;
  justify-content: flex-start;
  flex-direction: row;
  color: white;
}


/* ICONS  */

.side-panel__user-icon {
  width: 32px !important;
  height: 32px;
  margin-bottom: 0;
  align-self: flex-start;
  color: white;
}

.user-settings-icon {
  margin-bottom: 0;
}

.icon-cog {
  width: 22px;
}

.side-panel__nav-icon {
  width: 32px;
}

.menu-icon {
  padding-bottom: 8px;
  width: 42px;
}

.graph-icon {
  padding-bottom: 8px;
}

.recipe-icon {
  padding-bottom: 4px;
}
