.brand-logo {
  width: 115px;
}

/* Hamburger icon */
.hamburger-nav {
  display: inline-block;
  cursor: pointer;
}

[class^="hamburger-nav__bar"] {
  width: 25px;
  height: 2px;
  background-color: #8F8F8F;
  margin: 6px 8px 6px 0;
  transition: 0.4s;
}

/* Navigation */
.navbar-light {
  background-color: var(--nav-bar-light) !important;
}

.nav-link,
.nav-button {
  margin-right: 4px;
  transition: all .4s ease;
  /* hide on mobile viewports */
  position: absolute;
  height: 1px;
  width: 1px;
  overflow:hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

a.nav-link {
  border-bottom: 2px solid var(--nav-bar-light);
}

.nav-item:hover .nav-link,
.nav-link:focus,
.nav-link:active,
.selected.nav-link {
  color: var(--foodieq-blue) !important;
  border-bottom: 2px solid var(--foodieq-blue);
  outline: none;
}

@media (min-width: 615px) {
  .nav-link,
  .nav-button {
    position: initial;
    height: initial;
    width: initial;
    overflow: inherit;
    clip: auto;
  }
}
