.brand-logo {
  width: 115px;
}

/* Hamburger icon */
.hamburger-nav {
  display: inline-block;
  cursor: pointer;
}

[class^="hamburger-nav__bar"] {
  width: 25px;
  height: 2px;
  background-color: #8F8F8F;
  margin: 6px 8px 6px 0;
  transition: 0.4s;
}

/* Navigation */
.nav-link {
  margin-right: 4px;
  transition: all .4s ease;
  /* hide on mobile viewports */
  position: absolute;
  height: 1px;
  width: 1px;
  overflow:hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.nav-link__login {
  border-bottom-color: #006ED5;
}

.nav-link__login:hover {
  background-color: #006ED5;
  border-bottom-color: #0882FF;
}

.nav-link__sign-up {
  border-bottom-color: #13BE9B;
}

.nav-link__sign-up:hover {
  background-color: #13BE9B;
  border-bottom-color: #1DE8BF;
}

@media (min-width: 500px) {
  .nav-link {
    position: initial;
    height: initial;
    width: initial;
    overflow: inherit;
    clip: auto;
  }
}
