/* full page overlay for selecting application options */
.site-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--foodieq-drk-mint);
  opacity: 0;
  transform: translateY(-100%);
}

/* Text */
.overlay-header {
  font-size: 1.8rem;
}

 /* Buttons */
.close-container {
 text-align: right;
 padding-right: 20px;
}

.site-overlay__close-btn {
  color: white;
  cursor: pointer;
  transition: transform .4s ease;
}

.site-overlay__close-btn:hover {
  transform: scale(1.5);
}

/* Grid Layout and Adjustments */
.site-overlay__row-1 {
  margin-top: 20px;
}

/* Icons */
.user-icon {
  font-size: 4rem;
}

/* Food Pics */
.veggie-bowl {
  position: absolute;
  left: -47px;
  width: 196px;
  bottom: -35px;
  z-index: 1;
}
