:root {
  /* SITE color pallet */
  --foodieq-blue:        #0882ff;
  --foodieq-drk-blue:    #006ED5;
  --foodieq-lgt-blue:    #3D9DFF;

  --foodieq-red:         #EF4759;
  --foodieq-drk-red:     #EC2238;
  --foodieq-lgt-red:     #F37280;

  --foodieq-orange:      #EF9B47;
  --foodieq-drk-orange:  #E17A14;
  --foodieq-lgt-orange:  #F3B272;

  --foodieq-mint:        #1AD5AD;
  --foodieq-drk-mint:    #13BE9B;
  --foodieq-drker-mint:  #13A180;
  --foodieq-lgt-mint:    #41ECC9;

  --foodieq-grey:        #A9A9A9;
  --foodieq-drk-grey:    #8F8F8F;
  --foodieq-lgt-grey:    #E9ECEF;

  --foodieq-black:       #393939;
  --foodieq-drk-black:   #1A1A1A;
  --foodieq-lgt-black:   #545454;

  --google-red:          #EF4759;
  --google-drk-red:      #C51F31;

  --nav-bar-light:       #F1F2F3;
}
/* Removes 2px of horizontal scroll currently showing up with hiding 'login',
'sign up' button on navigation bar, mobile only */
#root {
  overflow-x: hidden;
}

/* BASE STYLES */
body,
html,
#root,
.App {
  height: 100%;
}

body {
  padding: 0;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:hover {
  text-decoration: none;
}

/* FONT */
h1,h2,h3,h4,h5,h6 { font-family: 'Abhaya Libre', serif; }

.text-white {
  color: #fafafa;
}

.text-black {
  color: #393939;
}

/* BUTTONS */
.btn {
  border-radius: 8px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
}

.google-button {
  background-color: var(--foodieq-red);
  border-bottom-color: var(--foodieq-drk-red);
}

.google-button:hover {
  background-color: var(--foodieq-drk-red);
  border-bottom-color: var(--foodieq-red);
}

.login-button {
  background-color: var(--foodieq-lgt-blue);
  border-bottom-color: var(--foodieq-drk-blue);
}

.login-button:hover {
  background-color: var(--foodieq-blue);
  border-bottom-color: var(--foodieq-drk-blue);
}

.signup-button,
.create-recipe-button {
  background-color: var(--foodieq-mint);
  border-bottom-color: var(--foodieq-drker-mint);
}

.signup-button:hover,
.create-recipe-button:hover {
  background-color: var(--foodieq-drk-mint);
  border-bottom-color: var(--foodieq-drker-mint);
}
