body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,h2,h3,h4,h5,h6 { font-family: 'Playfair Display', serif; }

/* SITE color pallet */
.blue {
  background-color: #0882ff;
}
.blue-darker {
  background-color: #006ED5;
}

.orange {
  background-color: #EF9B47;
}

.orange-red {
  background-color: #EF4759;
}

.mint-green {
  background-color: #1DE8BF;
}

.foodieq-gray {
  background-color: #A9A9A9;
}

.foodieq-black {
  background-color: #393939;
}

.text-white {
  color: #fafafa;
}

.text-black {
  color: #393939;
}
